on:
  pull_request:
    branches:
      - main
jobs:
  build_web:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v2
      - run: |
          gpg --batch --decrypt --output "files/browser_client_secret.json" --passphrase "$PASSPHRASE" --yes "files/browser_client_secret.json.gpg"
          gpg --batch --decrypt --output "files/desktop_client_secret.json" --passphrase "$PASSPHRASE" --yes "files/desktop_client_secret.json.gpg"
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
      - uses: tnc1997/github-actions/actions/setup-flutter@setup-flutter_v1
        with:
          channel: 'dev'
      - run: flutter build web --web-renderer html
      - uses: FirebaseExtended/action-hosting-deploy@v0
        env:
          FIREBASE_CLI_PREVIEWS: 'hostingchannels'
        with:
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_TIDAL_RUN_307407 }}'
          projectId: 'tidal-run-307407'
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
  build_windows:
    runs-on: 'windows-latest'
    steps:
      - uses: actions/checkout@v2
      - run: |
          gpg --batch --decrypt --output "files/browser_client_secret.json" --passphrase "$PASSPHRASE" --yes "files/browser_client_secret.json.gpg"
          gpg --batch --decrypt --output "files/desktop_client_secret.json" --passphrase "$PASSPHRASE" --yes "files/desktop_client_secret.json.gpg"
        env:
          PASSPHRASE: ${{ secrets.PASSPHRASE }}
        shell: 'bash'
      - uses: tnc1997/github-actions/actions/setup-flutter@setup-flutter_v1
        with:
          channel: 'dev'
      - run: flutter config --enable-windows-desktop
      - run: flutter build windows
      - uses: actions/upload-artifact@v2
        with:
          name: 'windows'
          path: 'build\windows\runner\Release'
